/**
 * @file
 * CSS Styling for boxcars app.
 */

body {
    font-family: Nunito;
}

div.content {
    padding: 0 5px 1em;
}

div.current-payout {
    max-width: 30rem;
    text-align: center;
    font-size: 1.6em;
    line-height: normal;
}

div.action-links {
    display: flex;
    justify-content: space-around;
    max-width: 30em;
}

div.action-links > a {
    padding: 2px 1em;
    text-decoration: none;
    color: #555;
    border: 1px solid #555;
    border-radius: 4px;
    font-weight: bold;
}

.payout-editor-destination {
    margin: 0 0 1em;
}

.payout-editor-row {
    margin: 0 0 0.6em;
}

.payout-editor-row label {
    display: inline-block;
    min-width: 10em;
}

table {
    width: 100%;
    max-width: 30em;
}

tbody tr:first-child td:first-child {
    font-size: 1.1em;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #ddd;
}

td {
    padding: 3px 6px;
}

td:nth-child(2) {
    text-align: right;
}

.main-menu {
    font-size: small;
}

.main-menu > ul {
    display: flex;
    margin: 0 0 1em;
    padding: 0;
}

.main-menu ul > li {
    display: block;
    padding-right: 0.5em;
    list-style: none;
}
