<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% block stylesheets %}
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
      <link href="{{ asset('css/normalize.css') }}" rel="stylesheet">
      <link href="{{ asset('css/boxcars.css') }}" rel="stylesheet">
    {% endblock %}
    {% block javascripts %}{% endblock %}
  </head>
  <body>
  <div class="content">
    <h1>{{ title }}</h1>
    <nav class="main-menu">
      <ul>
        <li><a href="{{ path('frontpage') }}">Calculator</a></li>
        {% if app.environment == 'dev' %}
        <li><a href="{{ path('show_grid') }}">Grid</a></li>
        <li><a href="{{ path('payout_editor') }}">Editor</a></li>
        <li><a href="{{ path('payouts_api') }}" target="_blank">Export</a></li>
        <li><a href="{{ path('reset') }}">Reset</a></li>
        {% endif %}
      </ul>
    </nav>
    {% if page_top is defined %}
      <div class="page_top"><p>{{ page_top | raw }}</p></div>
    {% endif %}
    {% block body %}{% endblock %}
    {% if page_bottom is defined %}
      <div class="page_bottom"><p>{{ page_bottom | raw }}</p></div>
    {% endif %}
  </div>
  </body>
</html>
