{# Displays the full payouts grid. #}
{% extends 'app.html.twig' %}
{% block body %}
  <div style="font-size: 9px;">
    <table>
      <tr>
        <th>City</th>
        {% for city in destinations %}
          <th>{{ city }}</th>
        {% endfor %}
      </tr>
      {% for origin in destinations %}
        <tr>
          <td>{{ origin }}</td>
          {% for dest in destinations %}
            <td>{{ payouts[origin][dest] ?? '' }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
