{% extends 'app.html.twig' %}

{% block body %}
    {{ form_start(form) }}
      <div class="form-errors">
        {{ form_errors(form) }}
      </div>
      <label for="destination">{{ form_label(form.destination, 'City:') }}</label>
      {{ form_widget(form.destination) }}
      {{ form_widget(form.submit)}}
    {{ form_end(form) }}

    <div class="current-payout">
      {% if trip.message is defined %}
        {{ trip.message }}
      {% elseif trip.name is defined %}
        {{ trip.name }}: {{ trip.payout }}
      {% else %}
        {# This should never happen. #}
        Cannot display current trip info.
        }
      {% endif %}
    </div>

    <div class="action-links">
      <a href="{{ path('reset') }}">Reset all history</a>
      <a href="{{ path('undo') }}">Undo last destination</a>
    </div>

    <h2>History</h2>

    <table>
      <tr>
        <th>City</th>
        <th>Payout</th>
      </tr>
      {% for dest in history %}
        <tr>
          <td>{{ dest.name }}</td>
          <td>{{ dest.payout }}</td>
        </tr>
      {% endfor %}
    </table>

{% endblock %}
