{% extends 'app.html.twig' %}

{% block body %}
    {{ form_start(form) }}
      <div class="form-errors">
        {{ form_errors(form) }}
      </div>
      <p><strong>Are you sure you want to reset your session?</strong></p>
      {{ form_widget(form.submit, { 'label': 'Yes, reset my history!' })}}
      <a href="{{ path('frontpage') }}">Go back to current game.</a>
    {{ form_end(form) }}
{% endblock %}
